@import "tailwindcss";

html, body {
  margin: 0; 
  padding: 0; 
  font-family: "Space Grotesk", sans-serif;
  background: #01061f;
  color: #fff;

}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0px);

}

@layer utilities {
  @keyframes light-rays {
    0%, 100% {
      transform: rotate(3deg) scaleY(2);
      opacity: 0.6;
    }
    50% {
      transform: rotate(-3deg) scaleY(1);
      opacity: 0.3;
    }
  }

  .animate-light-rays {
    animation: light-rays 20s infinite;
  }

  @keyframes wavy-text {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(2vh);
    }
    100% {
      transform: translateY(0);
    }
  }
  .animate-wavy-text {
    animation: wavy-text 2s infinite;
    animation-delay: var(--wave-delay, 0s);
  }


  @keyframes fish-tail-movement {
  
    0%, 100% {
      transform: rotate(5deg);
    }
    50% {

      transform: rotate(-5deg);
    }
  }
  .animate-fish-tail-movement {
    animation: fish-tail-movement var(--tail-duration, 1s) linear infinite;
  }

  @keyframes whole-fish-movement {
    0% {
      transform: rotate(15deg) translateY(2vh) translateX(200vw);
    }
    
    50%  {
      transform: rotate(0) translateY(0vh) translateX(0);
    }
    100%  {
      transform: rotate(-5deg) translateY(-2vh) translateX(-200vw);
    }

  }

  .animate-whole-fish-movement {
    animation: whole-fish-movement var(--duration, 6s) linear infinite;
    animation-delay: -6s;
  }

  @keyframes idle {
    0%, 100% {
      transform: scaleY(1) translateY(0) rotate(-1deg)
    }
    50% {
      transform: scaleY(1.02) translateY(-1vh) rotate(1deg)
    }
  }

  .animate-idle {
    animation: idle 5s linear infinite;

  }

  @keyframes enter {
    0% {
      opacity : 0;
      transform: translateX(-20px);
    }
    100% {
      opacity : 1;
      transform: translateX(0);
    }
  }

  .animate-enter {
    animation: enter 0.5s linear forwards;
  }




 }
